<a href="https://colab.research.google.com/github/chatha-bit/streamlit-exercise-chatha-bit/blob/main/Assignment_2_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORTANT: Before you start, enter your name and student number below.

**Full Name**: Sachman Chatha

**Student Number**: 400246047

# Customer Data Visualization

Answering the following questions with Nata Supermarkets dataset. Your goal is to use `plotly.express` to create visualizations and draw insights based on the data.

Before starting your work, upload your data file directly to Colab and load it as a pandas data frame.

**Note**: Recall that the dataset has missing values. Drop rows with missing values before you proceed to tasks.

In [19]:
import pandas as pd

df = pd.read_csv('/nata.csv')
df.dropna(inplace=True)

df

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-04-09,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-08-03,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-10-02,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,2014-10-06,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

## Task A (30 points)

In this question, we investigate how customers' online activity relates to their web purchasing behavior.

### Task A.1 (15 points)

i. Choose an appropriate chart type that can reveal **whether people who visit the website more often also make more purchases online**. In your chart, each data record corresponding to a customer should be represented by a **point**, the coordinates of which represent the *number of website visits last month* and the *number of online purchases*, respectively.
  * Develop the chart with visual encodings --  use **size** to encode customers' **income** and **color** to encode the **campaign response** (whether accepted any campaigns) in your chart.
  * When a user hovers their mouse on elements in the chart, let the chart show relevant information on *income*, *education*, and *marital status* of the corresponding data record.

ii. Further, answer the following questions in a **text (markdown) cell** and make sure to explain your answer based on the chart:
  * Do more frequent site visitors tend to buy more?
  * How does income affect online purchases?
  * Are campaign responders visually distinguishable? If so, how are they different?

**Hint**: You can use the `size_max=` argument to adjust the scale of the point sizes and make the size differences easier to see.

### Task A.2 (15 points)

i. Use the same type of chart as in A.1 to explore whether wealthier customers necessarily spend more overall.
* In your chart, the value of the $x$ and $y$ axes should represent *income* and *total spending (across all types of products)*, respectively.
* Use **size** to visually encode **number of online purchases** and **color** to encode **campaign response** (whether the customer accepted any campaign).
* When a user hovers their mouse on elements in the chart, let the chart show relevant information on *income*, *education*, and *marital status* of the corresponding data record.

ii. Further, answer the following questions in a **text (markdown) cell** and make sure to explain your answer based on the chart:

  * What is the relationship between income and spending?

  * Do campaign responders cluster in particular regions of the plot?

  * For those purchased more times online, do they tend to spend more or less?

**Hint**: You may use `range_x=[start_value,end_value]`  to adjust the visible range on the x-axis for better visualizing the distribution of the points.

## Part B (30 points)

In this part, we will study customers' pattern/distribution of spendings across different types of customers. We will visualize such patterns for different customer groups using **bar charts**.

**Hint**: In this exercise, you may need to use the `df.melt()` function to convert a wide table into a long table. You can find an example of this function in the assignment repository (see **melt_example.ipynb**).

### Task B.1 (15 points)

i. Consider that customers are grouped by their **education levels**. Develop a bar chart with several sets of bars, in which:

* Each set of bars (i.e.,bar of the same color) represent the spendings by customers in different groups on a spefic product category. For example, spending by customers "Graduation", "Master", "PhD", ..., on *fish products*.  
* The chart should allow you to easily visuallize both the **total spending** by customers in a group on all product categories and the **composition** of their spending on those product categories.

ii. Further, answer the following questions in a **text (markdown) cell** and make sure to explain your answer based on the chart:
* Which customer group contributes the highest revenue?

**Hint**: By default, each row in the dataset is shown as a separate rectangle in the bar, and these rectangles have borders that can make the chart look cluttered. In that case, use `fig.update_traces(opacity=1, marker_line_width=0)` to remove the border lines.

### Task B.2 (15 points)

i. Consider that customers are grouped by their **marital statuses**. Develop a bar chart with several sets of bars, in which:

* Each set of bars (bars of the same color) represent the spendings by customers from different groups on a specific product category. For example, customers of "single", "married", ..., on Fruits.
* Within each group, the chart should allow you to easily compare the spending of customers on different product categories (e.g., idenfity the highest spending category by single customers).

ii. Further, answer the following questions in a **text (markdown) cell** and make sure to explain your answer based on the chart:
* For each marital status group, which category of product do they spend the highest amount on?
* Does the marital status affect customers' spending distribution across the product categories?  How?

## Part C (30 points)

In this part, let us investigate variability in customers' online purchasing behavior.

i. We will use a visualization chart that shows distribution of customers' online purchases. The chart should:
* Show multiple distributions, each being the distribution of number of online purchases by customers of a certain generation (Gen X vs. Millennials,  ignore other generations)
* Allow users to observe the 1st, 2nd, and 3rd quartiles of the distribution, along with any outliers.

ii. Based on the chart, answer the following question:
* How would you comment on the pattern of online purchases across different generations.

iii. In your chart, further divide each distribution into subgroups of customers based on the **number of kids at home** (not including teens).
How would you comment on the pattern of online purchases across the different subgroups of customers?

## Part D (2 points)

Briefly decribe how you used Gen. AI in this assignment

**Note**: The remaining 8 points will be assigned to readibility of your submission.